# SERVER & PORT
PORT=5000
NODE_ENV=development

# SUPABASE CONFIG
SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# MIDTRANS CONFIG
MIDTRANS_SERVER_KEY=Mid-server-YOUR_DUMMY_KEY_HERE
MIDTRANS_CLIENT_KEY=Mid-client-YOUR_DUMMY_KEY_HERE
MIDTRANS_IS_PRODUCTION=false